html, body {
    margin: 0;
    height: 100vh; /* chiều cao toàn trang */
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}
.main {
   display: flex;
      overflow: hidden;
    height: calc(100vh - 20px - 60px); 
}
header{
    background-color: black;
    padding: 1%;background-color: black;
    padding: 1%;
    height: 20px;
}
.header{
    justify-content: center;
    display:flex;
    color:aliceblue
}
.home{
    margin:5px;
    color:white;
}
input{
    border-radius:40px;
    padding:5px;
    margin:auto 2px;
}
.main{
    background-color: black;
    display: flex;
}
.noidungtrai{
    width: 20%;
    
    background-color: rgb(26, 26, 26);
    border-radius: 10px;
    margin: 2px;
    /* overflow-y: auto; */
    height: 100%;   /* giữ lại nhưng bây giờ nó mới đúng nghĩa */
    overflow-y: auto;
}
.create{
    background-color:rgb(66, 66, 66);
    color:white;
    padding:6px ;
    border-radius: 30px;
    font-family: Arial, sans-serif;
    margin-right: 10px;
}
.tieude0{
    display:flex;
    justify-content: space-between;
    margin-top:9px;
    color:white;
    padding:6px ;
    border-radius: 30px;
    font-family: Arial, sans-serif;
}
.y{
    margin-top:10px;
    font-weight: bold;   
}
.danhmuc36{
    display:flex;
    
    margin-left:10px;
    margin-top:15px;
}
.tieude00{
    display:flex;
    justify-content: space-between;
}
.noidung0{
    display:flex;
    
    color:rgb(255, 255, 255);
    padding:6px ;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    margin: 0 5px 0 5px; 
    width:165px;
    margin-top: 20px;
}
.noidunggiua{
    width: 55%;
   
    background-color: rgb(26, 26, 26);
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    height: 100%;   
    overflow-y: auto;
   
}
.danhmuc{
    display:flex;
    /* justify-content: flex-start; */
    margin-left: 50px;
    margin-top:15px;
}
.all{
    background-color:white;
    color:black;
    padding:6px ;
    border-radius: 30px;
    font-family: Arial, sans-serif;
}
.music{
    background-color:rgb(43, 43, 44);
    color:white;
    padding:6px ;
    border-radius: 30px;
    font-family: Arial, sans-serif;
    margin-left:5px;
}
.podcasts{
    background-color:rgb(43, 43, 44);
    color:rgb(255, 255, 255);
    padding:6px ;
    border-radius: 30px;
    font-family: Arial, sans-serif;
    margin-left:5px;
}
.banner1{
    display:flex;
    justify-content: center;
    margin-bottom: -8px;
    
}
.banner2{
    display:flex;
    justify-content: center;
    margin-top:-5px;
    
}
.banner36{
    margin-left:10px;
    justify-content: center;
    margin-bottom: -8px;
   
    
}
.noidung{
    display:flex;
    background-color:rgb(43, 43, 44);
    color:rgb(255, 255, 255);
    padding:6px ;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    margin: 0 5px 0 5px; 
    width:165px;
    margin-top: 20px;
}

img{
    width:40px;
    height:40px;
    /* margin-left: -50px; */
}
p{
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  text-overflow: ellipsis; 
  margin-left:10px
}
.anh{
    color:white;
    font-family: Arial, sans-serif;
}
.tieude{
    margin-top:10px;
    display:flex;
    justify-content: space-between;
}
.ma{
    margin-top:20px;
    margin-left: 40px;
    margin-bottom: 1px;
    color:grey;
    font-family: Arial, sans-serif;
}
h2{
    margin-left: 40px;
    margin-top:-1px;
    margin-right: 40px;
    color:white;
    font-family: Arial, sans-serif;
}
.show{
    margin-top:20px;
    margin-right: 40px;
    color:grey;
    font-family: Arial, sans-serif;
}
.banner3{
    display:flex;
    justify-content: center;
    margin-top:-5px;
    
}
.noidung3{
    
    
    color:rgb(255, 255, 255);
    padding:6px ;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    margin: 0 5px 0 5px; 
    width:130px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.tieude1{
    margin-top:10px;
    display:flex;
    justify-content: space-between;
}

.pic{
    border-radius: 10px;
    width:100px;
    height:100px;
}
.noidungphai{
    width: 25%;
    
    background-color: rgb(26, 26, 26);
    border-radius: 10px;
    margin: 2px;
    height: 100%;   
    overflow-y: auto;
    
}
.tren{
    margin-top:9px;
    color:white;
    padding:6px ;
    border-radius: 30px;
    font-family: Arial, sans-serif;
}
.pic-right{
    margin-top:10px;
    margin-left: 10px;
    border-radius: 10px;
    width:350px;
    height:250px;
}
.musicc{
    background-color:rgb(43, 43, 44);
    color:white;
    padding:6px ;
    border-radius: 30px;
    font-family: Arial, sans-serif;
    margin-left:-40px;
}
.note{
    margin-top:10px;
    margin-left: 15px;
}
footer{
    background-color:black;
    padding:0,5px;
    margin:0;
    display:flex;
    position: fixed;
    bottom:0;
    left:0;
    right:0;
   
}
audio{
    margin-left: 500px;
}
.noidung-footer{
    
    background-color: black;
  height: 60px;      
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
